

body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1000px !important;

}

.featured{
    display: grid;
    align-items: center;
    background-color: #eee;
    margin: 20px auto;
    height: 400px;
    max-width: 1000px;
    text-align: center;
    align-items: center;
}
