

body, html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.featured{
    display: grid;
    align-items: center;
    background-color: #eee;
    margin: 20px auto;
    height: 400px;
    max-width: 1000px;
    text-align: center;
    align-items: center;
}

.black-bg{
    background-color: var(--primary-background);
    padding: 30px;
}

.logo{
    color: var(--main-color);
}

.main-color{
    color: var(--main-color);
}

.center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
